.Cuerpo1{ 
        width: 33rem;
        height: 85%;
         background-color: rgba(0, 56, 116, 0.977);
         margin-top: 2rem;
         margin-left: 30rem;
    
}
.ActualizarTitulo {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
  }
.LabelCrearActualizar{
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 1.5rem;
}
.InputCrearActualizar{
        margin-left: 3rem;
        width: calc(90% - 20px); /* Ancho */
        height: 40px; 
        padding: 10px;
        font-size: 1rem;
        text-align: center;   
}

  /* 1 */
  .btn-9 {
    background: rgb(0,187,45);
    background: linear-gradient(0deg, rgba(0,187,45,1) 0%, rgba(33,183,45,1) 100%);
    border: none;
    width: 8rem;
    justify-content: center;
    margin-right: 2rem;
    
  }
  .btn-9:before {
    height: 0%;
    width: 1.5px;
  }
  .btn-9:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

    /* 1 */
  .btn-8 {
    background: rgb(0,172,238);;
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    border: none;
    width: 8rem;
    justify-content: center;
    
  }
  .btn-8:before {
    height: 0%;
    width: 1.5px;
  }
  .btn-8:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  .BotonesDivCrearActualizar{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: 1.2rem;
  }
  .ActualizarModal{
    width: 28rem;
    height: 12rem;
    background-color: rgb(200, 200, 200);
    margin-top: 12rem;
    margin-left: 35rem;
  }
  .modal-title{
    font-size: 1.5rem;
    color: rgb(0,57,116);
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }
  .modal-body{
    margin-top: 1rem;
    text-align: center;
  }
  .LetraActualizacionConf{
    font-size: 1.7rem;
  }