@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');


.bg-purple{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNLbKv4g3Tz0obh_0zFBK7E4eh7GRzloAvBmrEc5h1A5QFBzexUOolseV3s_tc9oXyOO8&usqp=CAU);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    overflow: hidden;
    
}

.custom-navbar{
    padding-top: 10px;
}

.brand-logo {
  margin-left: 25px;
  display: inline-block;
  height: 60px;
  width:30%; 
  background: url(https://entidades.fidemsys.com/storage/entidades/December2020/Ck5ZAZoH2cOjUroeZvJV.png);
  background-size: contain; 
  background-repeat: no-repeat;
}

.navbar-links{
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 15px;
    text-transform: uppercase;
}

.Home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center; 
}

.HomeLI {
    float: left;
    padding: 0px 15px;
}
.HomeLI{
  display: block;
  color: #252850;
  text-align: center;
  text-decoration: none;
  letter-spacing : 2px;
  font-size: 16px;
  
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
 a {
    display: block;
    color: #252850;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 15px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.HomeLI:hover{
  color: #252850;
}
 a:hover {
    color: #ffcb39;
}

.btn-request{
    padding: 10px 25px;
    border: 1px solid #252850;
    border-radius: 100px;
    font-weight: 400;
    background-color: #252850;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}
.central-body{
/*    width: 100%;*/
height: 70%;
display: grid;
grid-template-columns: 0.5fr 0.5fr; 
gap: 20px;
justify-content: center;
align-items: center;
width: 100%;
}

.stars {
  background: white;
  width: 93%;
  height: 88%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}
.TituloHome {
  color: #252850;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  line-height: 1.2; 
  margin-bottom: 10px;
}
.TituloInicio{
  color: #252850;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 56px;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  line-height: 1.2; 

}
.tituloDiv{
      padding-top: 55px;
      margin-left: 55px;
}
.objects{
  display: flex;
  flex-direction: column; /* Centra verticalmente */
      padding-top: 35px;
      margin-left: 30px;
      text-align: justify;
}
.glowing_stars{
    text-align: center; /* Centra el texto horizontalmente dentro del div */
    width: 80%;
}

@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box_astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}


/*Cards publicaciones*/

* {
  box-sizing: border-box;
}
body{
  background: #f9f9f9;
  font-family: Barlow;
}

.container {
  overflow: visible;
  border-radius: 8px;
  margin: 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}


.card1 {
  position: relative;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
  padding: 1.25rem;
  padding-right: 7rem;
  margin-bottom: 1rem;
  margin-left:  1rem;
  width: 300px;
  background: #0041734d;
  border-radius: 8px;
  
}

label{cursor: pointer;}

/* Contenedor para centrar */
.ContainerCenter{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
/* Input */
input{display: none}

/* Slider */
.Carrusels{
  height: 68vh;
  width: 160vh;
  position: relative;
  overflow-x: hidden;


}
.Carrusel {
  display: flex;
  flex-direction: row; /* Cambia de column a row */
  height: 85%;
  width: 100%;
  position: absolute;
  background-size: cover;
  transition: all .5s ease;
  margin-top:30px;
}
/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}

/* Selectores */
.Selectors {
  width: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #252850;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
  margin-left: 2px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}