
.inicio-container{
    width:100%;
    height: 100%;
    background:url(../img/fcyt.png)no-repeat;
    background-size: 100% 100%;
    display: grid;
    place-items: center;

    opacity: .7;
}  
.LetrasDescripcion{
    margin-bottom: 350px;
    background-color: #ffffff;
    width: 100%;
    opacity: .8;
} 
.Letras1{
    margin-left: 23%;
    font-weight: bold;
    color: black;
}
.Letras2{
    margin-left: 15%;
    color:black;
}